.err_label{
    position: absolute !important;
    top: -35px;
}

.passwordToggleIcon{
    position: absolute;
    top: 62px;
    right: 10px;
    z-index: 1000;
    cursor: pointer;
}

.form{
    margin: 30px 0;
}