
.user_listItem{
    display: flex;
    flex-direction: column;

    padding: 10px;
    border: 1px solid black;
}

.user_list{
    margin-top: 30px;
}

.button{
    cursor: pointer;
    z-index: 9999;
    display: flex;
    border: none;
    float: left;
    background-color: #f7f7f7;
    border-radius: 30px;
    height: 20px;
    width: 20px;
}

.button i{
    align-self: center;
    margin: auto !important;
}

.tasksBlock{
    margin-top: 30px;
    margin-left: 40px;
    padding: 40px;
    border: 1px solid #f7f7f7;
    border-radius: 20px;
    min-width: 60%;
    box-shadow: 1px 2px 4px 0 rgb(100 133 100 / 25%);
    overflow: auto;
    max-height: 400px;
}

.header{
    border-bottom: 3px solid #c7c7c7;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.header h3{
    margin: 0;
}
